<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Thế giới Bất động sản 24h
    link(rel='stylesheet', href='../css/bootstrap.min.css')
    link(rel='stylesheet', href='../css/mdb.min.css')
    link(rel='stylesheet', href='../css/owl.carousel.min.css')
    link(rel='stylesheet', href='../css/owl.theme.default.min.css')
    link(rel='stylesheet', href='../css/materialdesignicons.min.css')
    link(rel="stylesheet", href='../css/jquery.fancybox.min.css')
    link(rel='stylesheet', href='../css/swiper.min.css')
    link(rel='stylesheet', href='../css/layout.css')
    link(rel='shortcut icon', href='../img/favicon.png')
  body
    .go-top(title='Lên đầu trang')
      span
      span

    block header
      header
        section.menu.wow
          .toggleMenu.d-block.d-md-none
            i.mdi.mdi-menu
          .search-btn.d-block.d-md-none
            i.mdi.mdi-magnify

          .container
            .logo
              a(href='index.html')
                img(src='../img/logo.png')

            .main-menu
              ul.nav
                .nav-close
                  i.mdi.mdi-close.d-block.d-md-none
                li.nav-item
                  a.nav-link(href='index.html') Trang chủ
                li.nav-item
                  a.nav-link(href='ban.html') 
                    | Bán
                    i.mdi.mdi-menu-down
                  ul
                    li
                      a(href='ban.html') Căn hộ bán
                    li
                      a(href='ban.html') Văn phòng bán
                    li
                      a(href='ban.html') Đất bán
                    li
                      a(href='ban.html') Căn hộ bán
                    li
                      a(href='ban.html') Căn hộ bán
                    

                li.nav-item
                  a.nav-link(href='cho-thue.html') 
                    | Cho thuê
                    i.mdi.mdi-menu-down
                  ul
                    li
                      a(href='cho-thue.html') Căn hộ cho thuê
                    li
                      a(href='cho-thue.html') Siêu thị cho thuê
                    li
                      a(href='cho-thue.html') Đất cho thuê
                    li
                      a(href='cho-thue.html') Căn hộ cho thuê
                    li
                      a(href='cho-thue.html') Căn hộ cho thuê
                    
                li.nav-item
                  a.nav-link(href='du-an.html') Dự án
                li.nav-item
                  a.nav-link(href='tin-tuc.html') Tin tức
                li.nav-item
                  a.nav-link(href='dich-vu.html') Dịch vụ
                li.nav-item
                  a.nav-link(href='lien-he.html') Liên hệ

        .overlay-menu

        
    article
      block article


    
    block footer
      section.footer
        .container
          .row
            .col-xl-3.col-lg-4.col-sm-6
              .about
                h4 
                  | Về chúng tôi
                  i.mdi.mdi-chevron-down
                ul
                  p Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia, debitis? Animi, explicabo reprehenderit voluptatibus corrupti quibusdam ullam modi nesciunt pariatur unde fuga asperiores architecto, exercitationem aperiam quasi illum culpa? Nobis.

            .col-xl-3.col-lg-3.col-sm-6
              .contact
                h4 
                  | Thông tin liên hệ
                  i.mdi.mdi-chevron-down
                ul
                  li
                    i.mdi.mdi-map-outline
                    | 81 Bùi Tư Toàn, An Lạc, Bình Tân, HCM

                  li
                    i.mdi.mdi-deskphone
                    | 0357.00.9999
                  li
                    i.mdi.mdi-email-outline
                    | batdongsan247.tv@gmail.com
                 
            .col-xl-6.col-lg-5.col-sm-12
              .letter
                h4 
                  | Đăng ký nhận bản tin
                  i.mdi.mdi-chevron-down
                form(action="")
                  input(type='text', placeholder="Nhập email của bạn. . .")
                  button(type='submit') đăng ký
                h5 Theo dõi chúng tôi qua:
                  span
                    a(href='#')
                      i.mdi.mdi-facebook-box
                    a(href='#')
                      i.mdi.mdi-youtube

              
          .copyright.text-center
            h5 Copyright @ 2019 Thế giới BĐS 24h. All Reserved. Designed by Tri Viet
          



                    
                    
                    


      script(src='../js/jquery-3.3.1.min.js')
      script(src='../js/bootstrap.min.js')
      script(src='../js/mdb.min.js')
      script(src='../js/owl.carousel.min.js')
      script(src='../js/jquery.hoverdir.js')
      script(src='../js/modernizr.custom.97074.js')
      script(src='../js/jquery.fancybox.min.js')
      script(src='../js/swiper.min.js')
      script(src='../js/layout.js')
