extends _inc


block article
  section.page-slider.slider
    .owl-carousel.slider-carousel.owl-theme
      .item
        a(href='#')
          img(src='../img/slider-1.png')
      .item
        a(href='#')
          img(src='../img/slider-1.png')

    .search
      .container
        h1 Tìm kiếm ngay cho mình một căn hộ !
        form
          input(type='text', placeholder='Nhập từ khóa . . .')
          select
            option Bán
            option Cho thuê
          select
            option Loại BĐS
            option Căn hộ cho thuê
            option Căn hộ bán
          select
            option Tỉnh / Thành
            option TP Hồ Chí Minh
          select
            option Quận / Huyện
            option Quận 2
          button(type='submit') Tìm kiếm
  
  section.bread-crumb
    .container
      .bc-icons
        nav(aria-label='breadcrumb')
          ol.breadcrumb
            li.breadcrumb-item
              a(href='index.html') Trang chủ
            li.breadcrumb-item.active Bán

  section.page-content
    .container
      .title-page
        h3 
          a biệt thự bán
      
      .page-zone
        .box-sale
          .box-sale-img
            .date
              i.mdi.mdi-calendar-outline
              | 22/04/2019
            .user
              i.mdi.mdi-account-outline
              | Anh Thái
            .zoom
              i.mdi.mdi-image-search-outline(title="Nhấn để phóng to ảnh" data-caption="Villa 243 W 98th St" data-fancybox="gallery" href="../img/sale-1.png")
            a(href='chi-tiet-ban.html')
              img(src='../img/sale-1.png')
          .box-sale-detail
            h5 Căn hộ, Biệt thự, Nhà
            h3 
              a(href='chi-tiet-ban.html')
                | Villa 243 W 98th St
            p
              i.mdi.mdi-map-marker-outline
              | 10 Nguyễn Thái Bình, Quận 1, TPHCM
            .box-sale-detail-option
              ul
                li Diện tích 100m2
                li 4 Phòng ngủ
                li 3 Phòng tắm
                li 1 Garage Ô tô
          .box-sale-price
            h5 Giá khởi điểm
            h4 7.5 tỉ

        .box-sale
          .box-sale-img
            .date
              i.mdi.mdi-calendar-outline
              | 22/04/2019
            .user
              i.mdi.mdi-account-outline
              | Anh Thái
            .zoom
              i.mdi.mdi-image-search-outline(title="Nhấn để phóng to ảnh" data-caption="Villa 243 W 98th St" data-fancybox="gallery" href="../img/sale-1.png")
            a(href='chi-tiet-ban.html')
              img(src='../img/sale-1.png')
          .box-sale-detail
            h5 Căn hộ, Biệt thự, Nhà
            h3 
              a(href='chi-tiet-ban.html')
                | Villa 243 W 98th St
            p
              i.mdi.mdi-map-marker-outline
              | 10 Nguyễn Thái Bình, Quận 1, TPHCM
            .box-sale-detail-option
              ul
                li Diện tích 100m2
                li 4 Phòng ngủ
                li 3 Phòng tắm
                li 1 Garage Ô tô
          .box-sale-price
            h5 Giá khởi điểm
            h4 7.5 tỉ
        
        .box-sale
          .box-sale-img
            .date
              i.mdi.mdi-calendar-outline
              | 22/04/2019
            .user
              i.mdi.mdi-account-outline
              | Anh Thái
            .zoom
              i.mdi.mdi-image-search-outline(title="Nhấn để phóng to ảnh" data-caption="Villa 243 W 98th St" data-fancybox="gallery" href="../img/sale-1.png")
            a(href='chi-tiet-ban.html')
              img(src='../img/sale-1.png')
          .box-sale-detail
            h5 Căn hộ, Biệt thự, Nhà
            h3 
              a(href='chi-tiet-ban.html')
                | Villa 243 W 98th St
            p
              i.mdi.mdi-map-marker-outline
              | 10 Nguyễn Thái Bình, Quận 1, TPHCM
            .box-sale-detail-option
              ul
                li Diện tích 100m2
                li 4 Phòng ngủ
                li 3 Phòng tắm
                li 1 Garage Ô tô
          .box-sale-price
            h5 Giá khởi điểm
            h4 7.5 tỉ
        
        .box-sale
          .box-sale-img
            .date
              i.mdi.mdi-calendar-outline
              | 22/04/2019
            .user
              i.mdi.mdi-account-outline
              | Anh Thái
            .zoom
              i.mdi.mdi-image-search-outline(title="Nhấn để phóng to ảnh" data-caption="Villa 243 W 98th St" data-fancybox="gallery" href="../img/sale-1.png")
            a(href='chi-tiet-ban.html')
              img(src='../img/sale-1.png')
          .box-sale-detail
            h5 Căn hộ, Biệt thự, Nhà
            h3 
              a(href='chi-tiet-ban.html')
                | Villa 243 W 98th St
            p
              i.mdi.mdi-map-marker-outline
              | 10 Nguyễn Thái Bình, Quận 1, TPHCM
            .box-sale-detail-option
              ul
                li Diện tích 100m2
                li 4 Phòng ngủ
                li 3 Phòng tắm
                li 1 Garage Ô tô
          .box-sale-price
            h5 Giá khởi điểm
            h4 7.5 tỉ
        
        .box-sale
          .box-sale-img
            .date
              i.mdi.mdi-calendar-outline
              | 22/04/2019
            .user
              i.mdi.mdi-account-outline
              | Anh Thái
            .zoom
              i.mdi.mdi-image-search-outline(title="Nhấn để phóng to ảnh" data-caption="Villa 243 W 98th St" data-fancybox="gallery" href="../img/sale-1.png")
            a(href='chi-tiet-ban.html')
              img(src='../img/sale-1.png')
          .box-sale-detail
            h5 Căn hộ, Biệt thự, Nhà
            h3 
              a(href='chi-tiet-ban.html')
                | Villa 243 W 98th St
            p
              i.mdi.mdi-map-marker-outline
              | 10 Nguyễn Thái Bình, Quận 1, TPHCM
            .box-sale-detail-option
              ul
                li Diện tích 100m2
                li 4 Phòng ngủ
                li 3 Phòng tắm
                li 1 Garage Ô tô
          .box-sale-price
            h5 Giá khởi điểm
            h4 7.5 tỉ
        
        .box-sale
          .box-sale-img
            .date
              i.mdi.mdi-calendar-outline
              | 22/04/2019
            .user
              i.mdi.mdi-account-outline
              | Anh Thái
            .zoom
              i.mdi.mdi-image-search-outline(title="Nhấn để phóng to ảnh" data-caption="Villa 243 W 98th St" data-fancybox="gallery" href="../img/sale-1.png")
            a(href='chi-tiet-ban.html')
              img(src='../img/sale-1.png')
          .box-sale-detail
            h5 Căn hộ, Biệt thự, Nhà
            h3 
              a(href='chi-tiet-ban.html')
                | Villa 243 W 98th St
            p
              i.mdi.mdi-map-marker-outline
              | 10 Nguyễn Thái Bình, Quận 1, TPHCM
            .box-sale-detail-option
              ul
                li Diện tích 100m2
                li 4 Phòng ngủ
                li 3 Phòng tắm
                li 1 Garage Ô tô
          .box-sale-price
            h5 Giá khởi điểm
            h4 7.5 tỉ
        
      .main-paging
        nav
          ul.pagination.justify-content-end
            li
              a.page-link(href='#', aria-label='Previous')
                span(aria-hidden='true') «
                span.sr-only Previous
            li
              a.page-link.active(href='#') 1
            li
              a.page-link(href='#') 2
            li
              a.page-link(href='#') 3
            li
              a.page-link(href='#', aria-label='Next')
                span(aria-hidden='true') »
                span.sr-only Next 
