extends _inc


block article
  section.page-slider.slider
    .owl-carousel.slider-carousel.owl-theme
      .item
        a(href='#')
          img(src='../img/slider-1.png')
      .item
        a(href='#')
          img(src='../img/slider-1.png')

    .search
      .container
        h1 Tìm kiếm ngay cho mình một căn hộ !
        form
          input(type='text', placeholder='Nhập từ khóa . . .')
          select
            option Bán
            option Cho thuê
          select
            option Loại BĐS
            option Căn hộ cho thuê
            option Căn hộ bán
          select
            option Tỉnh / Thành
            option TP Hồ Chí Minh
          select
            option Quận / Huyện
            option Quận 2
          button(type='submit') Tìm kiếm
  
  section.bread-crumb
    .container
      .bc-icons
        nav(aria-label='breadcrumb')
          ol.breadcrumb
            li.breadcrumb-item
              a(href='index.html') Trang chủ
            li.breadcrumb-item.active Dịch vụ

  section.page-detail 
    .container
      .title-page
        h3 
          a Dịch vụ
      
      p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Optio, temporibus ullam! Blanditiis nihil sint ab et repudiandae ipsa, sed maiores earum? Id nostrum libero tempora a delectus sed at quis.
      p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Optio, temporibus ullam! Blanditiis nihil sint ab et repudiandae ipsa, sed maiores earum? Id nostrum libero tempora a delectus sed at quis.
      p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Optio, temporibus ullam! Blanditiis nihil sint ab et repudiandae ipsa, sed maiores earum? Id nostrum libero tempora a delectus sed at quis.
      p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Optio, temporibus ullam! Blanditiis nihil sint ab et repudiandae ipsa, sed maiores earum? Id nostrum libero tempora a delectus sed at quis.
      p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Optio, temporibus ullam! Blanditiis nihil sint ab et repudiandae ipsa, sed maiores earum? Id nostrum libero tempora a delectus sed at quis.
      img(src='../img/rent-1.png')
      p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Optio, temporibus ullam! Blanditiis nihil sint ab et repudiandae ipsa, sed maiores earum? Id nostrum libero tempora a delectus sed at quis.
      p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Optio, temporibus ullam! Blanditiis nihil sint ab et repudiandae ipsa, sed maiores earum? Id nostrum libero tempora a delectus sed at quis.
      p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Optio, temporibus ullam! Blanditiis nihil sint ab et repudiandae ipsa, sed maiores earum? Id nostrum libero tempora a delectus sed at quis.
      p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Optio, temporibus ullam! Blanditiis nihil sint ab et repudiandae ipsa, sed maiores earum? Id nostrum libero tempora a delectus sed at quis.
      
