extends _inc


block article
  section.page-slider.slider
    .owl-carousel.slider-carousel.owl-theme
      .item
        a(href='#')
          img(src='../img/slider-1.png')
      .item
        a(href='#')
          img(src='../img/slider-1.png')

    .search
      .container
        h1 Tìm kiếm ngay cho mình một căn hộ !
        form
          input(type='text', placeholder='Nhập từ khóa . . .')
          select
            option Bán
            option Cho thuê
          select
            option Loại BĐS
            option Căn hộ cho thuê
            option Căn hộ bán
          select
            option Tỉnh / Thành
            option TP Hồ Chí Minh
          select
            option Quận / Huyện
            option Quận 2
          button(type='submit') Tìm kiếm
  
  section.bread-crumb
    .container
      .bc-icons
        nav(aria-label='breadcrumb')
          ol.breadcrumb
            li.breadcrumb-item
              a(href='index.html') Trang chủ
            li.breadcrumb-item.active Dự án

  section.page-content
    .container
      .title-page
        h3 
          a biệt thự bán
      
      .page-zone
        .box-project
          a(href='chi-tiet-du-an.html')
            img(src='../img/project-1.png')
            .box-project-detail
              h3 Eco Green Saigon
              h6
                i.mdi.mdi-map-marker-outline
                | 10 Nguyễn Thái Bình, Quận 1, TPHCM
            .box-project-price
              h3 7.5 tỉ
            span

        .box-project
          a(href='chi-tiet-du-an.html')
            img(src='../img/project-1.png')
            .box-project-detail
              h3 Eco Green Saigon
              h6
                i.mdi.mdi-map-marker-outline
                | 10 Nguyễn Thái Bình, Quận 1, TPHCM
            .box-project-price
              h3 7.5 tỉ
            span
        
        .box-project
          a(href='chi-tiet-du-an.html')
            img(src='../img/project-1.png')
            .box-project-detail
              h3 Eco Green Saigon
              h6
                i.mdi.mdi-map-marker-outline
                | 10 Nguyễn Thái Bình, Quận 1, TPHCM
            .box-project-price
              h3 7.5 tỉ
            span
        
        .box-project
          a(href='chi-tiet-du-an.html')
            img(src='../img/project-1.png')
            .box-project-detail
              h3 Eco Green Saigon
              h6
                i.mdi.mdi-map-marker-outline
                | 10 Nguyễn Thái Bình, Quận 1, TPHCM
            .box-project-price
              h3 7.5 tỉ
            span
        
        .box-project
          a(href='chi-tiet-du-an.html')
            img(src='../img/project-1.png')
            .box-project-detail
              h3 Eco Green Saigon
              h6
                i.mdi.mdi-map-marker-outline
                | 10 Nguyễn Thái Bình, Quận 1, TPHCM
            .box-project-price
              h3 7.5 tỉ
            span
        
        .box-project
          a(href='chi-tiet-du-an.html')
            img(src='../img/project-1.png')
            .box-project-detail
              h3 Eco Green Saigon
              h6
                i.mdi.mdi-map-marker-outline
                | 10 Nguyễn Thái Bình, Quận 1, TPHCM
            .box-project-price
              h3 7.5 tỉ
            span
        
        .box-project
          a(href='chi-tiet-du-an.html')
            img(src='../img/project-1.png')
            .box-project-detail
              h3 Eco Green Saigon
              h6
                i.mdi.mdi-map-marker-outline
                | 10 Nguyễn Thái Bình, Quận 1, TPHCM
            .box-project-price
              h3 7.5 tỉ
            span
        

      .main-paging
        nav
          ul.pagination.justify-content-end
            li
              a.page-link(href='#', aria-label='Previous')
                span(aria-hidden='true') «
                span.sr-only Previous
            li
              a.page-link.active(href='#') 1
            li
              a.page-link(href='#') 2
            li
              a.page-link(href='#') 3
            li
              a.page-link(href='#', aria-label='Next')
                span(aria-hidden='true') »
                span.sr-only Next 
